APP_PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=host= port=5432 user= password= dbname= sslmode=disable
GOOSE_MIGRATION_DIR=db/migrations

JWT_SECRET=
JWT_EXPIRY_HOURS=
